.waiting-queue-wrapper{
  .waiting-queue-form-wrapper{
    padding: 3rem;

  }
}
.waiting-queue-list-wrapper{

  padding: 3rem;

  .waiting-queue-list{
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: #fffdfd;
    .table{
      width: 100%;
    }

  }
}
